body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#calendarFrame {
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 2px #eee;
}

#calendarHeader {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f6fa;
}

#calendarBody {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#calendarWeek {
  width: 14.2%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calendarDay {
  width: 14.2%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calDayorange {
  width: 14.2%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
}

#calDayyellow {
  width: 14.2%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}

#calDaygreen {
  width: 14.2%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

#calDayblue {
  width: 14.2%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}

#calDaypurple {
  width: 14.2%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
}

#calDayred {
  width: 14.2%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

#calDayblack {
  width: 14.2%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#calDaygrey {
  width: 14.2%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

#highlightToday {
  width: 14.2%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f70202;
  border: 1px solid #eee;
}
